.header{
    display: flex;
    justify-content: center;
}

body{    
    background-color: rgb(224, 224, 224);
}

h2{
    margin-top: 55px;
}
.content{
    background-color: white;
}

.form-control{
    border-style: dashed;
}

#exampleFormControlTextarea1{
    height: 150px;
    text-align: center;
    background-color: white;
}

.number{
    margin-left: 20px;
}

.btn{
    border-radius: 40px;
    background-color: crimson;
    color: white;
}

#btn2{
    border-radius: 40px;
    background-color: gray;
    color: white;
}

#btn2:hover{
color: black;
}